block vars
	- var title = "ChayenneJS demo"

extends layout/layout
append content

	h1 Hello world
	h2 This is a nifty demo page
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla massa dui, sit amet vestibulum est hendrerit fringilla. Vestibulum sed quam risus. Donec in dui placerat, sodales turpis vitae, elementum nisl. Aliquam tincidunt enim et elit posuere eleifend. Aliquam diam urna, sodales quis turpis eget, tempus lacinia elit. Aliquam laoreet vestibulum sapien vel egestas. Fusce lobortis purus in odio porttitor, ut volutpat sem pretium.
	button.demo( type = "button" ) Button with responsive icon