/**
 * Import fonts
 * Example: @import "fonts/open_sans";
 */
@import "fonts/open-sans";

/**
 * Base layout
 */

/*----- Start demo code ------*/
html {
	background-color: tint(black, 95%);
}

body {
	position: relative;
	width: 960px;
	margin: 30px auto;
	padding: 30px;
	background-color: white;
	& > h1 {
		margin-top: 0;
	}
}

h1, h2 {
	font: {
		family: Open Sans, sans-serif;
		weight: 400;
	}
}

h2 {
	font: {
		weight: 200;
		style: italic;
	}
	color: rgb(0,174,239);
}

p {
	color: tint(black, 30%);
	line-height: 24px;
}

button.demo {
	position: relative;
	background-color: tint(black, 90%);
	border: none;
	padding: 10px 54px 10px 20px;
	margin-top: 1em;
	font-size: 16px;
	line-height: 24px;
	color: tint(black, 30%);
	&:before {
		left: auto;
		right: 20px;
		top: 10px;
		@include transition(all, 0.5s);
		@include opacity(0.3);
	}
	&:hover:before {
		@include opacity(0.8);
	}
}
/*----- End demo code ------*/